*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=RocknRoll+One&display=swap');
body{
    width: 960px;
    
    /* padding: 0 10%; */
    background-image: url("../img/png-clipart-copper-river-logo-sockeye-salmon-hotel-organization-others-seafood-retail.png");
  background-repeat: repeat;
  margin: auto;
}

main{
    width: 100%;
    margin-left: auto;
    
}
   

header{
    background-color: rgba(192, 72, 3, 0.897);
    text-align: center;
    border-radius: 30px;

}
nav ul li {
    display: inline-block;
    width: 400px;
    
    font-size: 40px;
    font-family: 'RocknRoll One', sans-serif;
    
}
a{
    text-decoration: none;
    color: rgb(46, 33, 1);
}
header h1{
    font-family:'Akaya Telivigala', cursive;
    font-size: 90px;
}

table{
    background-color: rgba(208, 228, 96, 0.26);
    width: 960px;
    height: 360px;
}
table th {
    background-color: rgba(211, 88, 51, 0.959);
    border-radius: 10px;
}
table tr td{
    background-color: rgb(211, 212, 100);
    border-radius: 15px;
}
table tr td:first-child{
    background-color: rgba(238, 49, 36, 0.979);
    border-radius: 10px;
}
td {
    text-align: center;
}
footer{
    background-color: rgba(192, 72, 3, 0.897);
    text-align: center;
    font-size: medium;
    margin: 60px 0;
}